<!--By using class attributes we can use class from css file-->
<h1 class="success">
   B.E Computer Science and Engineering
</h1>
<h1 class="Failure">
    Amaravti university
</h1>

<!--We can also use like proerty binding for the class-->
<!-- in .ts file there should be attribute named as MyClass-->
<h1 [class]="MyClass">
   Education is  better tomorrow
</h1>

<!-- We can set class property depending upon the condition-->
<h1 [class.Failure]="IsSet">
   Success isn't measured by money power or social rank. 
   Success is measured by your discipline & inner peace.
</h1>